#Series#

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
list1=[1,2,3,True,"Utkarsh"]
print(list1)

[1, 2, 3, True, 'Utkarsh']

In [4]:
series1=pd.Series(list1)
print(series1)

0          1
1          2
2          3
3       True
4    Utkarsh
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2=pd.Series([5,6,7,"UVK",False])
print(series2)

0        5
1        6
2        7
3      UVK
4    False
dtype: object

In [7]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: object)

#To change the index value

In [8]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

#To change the datatype

In [9]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [13]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=bool)
print(series3)

a    True
b    True
c    True
d    True
dtype: bool

#To give the name

In [14]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name="Hours")
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: Hours, dtype: float64

#single Scalar Values

In [15]:
scalar_s=pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

In [16]:
scalar_s=pd.Series(0.5,index=[1,2,3,4,5,6])
print(scalar_s)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
6    0.5
dtype: float64

#Creating series with help of dictionary...key become index and values become object

In [17]:
dict_s=pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

#Slicing

In [19]:
s4=pd.Series([4,5,6,7,8,9])
print(s4)

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [20]:
s4[0]

4

In [21]:
s4[0:4]

0    4
1    5
2    6
3    7
dtype: int64


#To find max and min value

In [22]:
max(s4)

9

In [23]:
min(s4)

4

#Conditional Operator

In [24]:
s4[s4>6]

3    7
4    8
5    9
dtype: int64

#Mathematical Opeartion

In [27]:
s5=pd.Series([1,2,3,4])
s6=pd.Series([5,6,7,8])
print(s5)
print(s6)
print("Addition")
print(s5+s6)
print("Subtraction")
print(s5-s6)
print("Divison")
print(s5/s6)
print("Multiplication")
print(s5*s6)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64
Addition
0     6
1     8
2    10
3    12
dtype: int64
Subtraction
0   -4
1   -4
2   -4
3   -4
dtype: int64
Divison
0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64
Multiplication
0     5
1    12
2    21
3    32
dtype: int64

In [28]:
s7=pd.Series([1,2])
print(s7)

0    1
1    2
dtype: int64

In [29]:
s5+s7

0    2.0
1    4.0
2    NaN
3    NaN
dtype: float64