#fillna()..to fill the missing or NaN values by given input

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\practice.csv')
df

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  NaN  2.0  4.0
3  4.0  45.0  NaN  1.0  NaN
4  NaN   NaN  NaN  NaN  NaN

In [3]:
df.fillna(0)

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  0.0  2.0  4.0
3  4.0  45.0  0.0  1.0  0.0
4  0.0   0.0  0.0  0.0  0.0

#to print the different values in different column as per requirement so we use dictionary

In [5]:
df.fillna({'A':'utkarsh','C':'Lapi'})

         A     B     C    D    E
0      1.0  12.0   9.0  4.0  2.0
1      2.0  23.0   8.0  3.0  3.0
2      3.0  34.0  Lapi  2.0  4.0
3      4.0  45.0  Lapi  1.0  NaN
4  utkarsh   NaN  Lapi  NaN  NaN

#method()..to fill forward or backward values in place of NaN

In [6]:
df.fillna(method='ffill')

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  8.0  2.0  4.0
3  4.0  45.0  8.0  1.0  4.0
4  4.0  45.0  8.0  1.0  4.0

In [7]:
df.fillna(method='pad')

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\196241153.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='pad')

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  8.0  2.0  4.0
3  4.0  45.0  8.0  1.0  4.0
4  4.0  45.0  8.0  1.0  4.0

In [8]:
df.fillna(method='bfill')

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  NaN  2.0  4.0
3  4.0  45.0  NaN  1.0  NaN
4  NaN   NaN  NaN  NaN  NaN

#axis()...it must with method() otherwise gives error

In [9]:
df.fillna(axis=0,method='ffill')

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\3021517945.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(axis=0,method='ffill')

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  8.0  2.0  4.0
3  4.0  45.0  8.0  1.0  4.0
4  4.0  45.0  8.0  1.0  4.0

In [10]:
df.fillna(axis=1,method='ffill')

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\603495351.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(axis=1,method='ffill')

     A     B     C    D    E
0  1.0  12.0   9.0  4.0  2.0
1  2.0  23.0   8.0  3.0  3.0
2  3.0  34.0  34.0  2.0  4.0
3  4.0  45.0  45.0  1.0  1.0
4  NaN   NaN   NaN  NaN  NaN

#limit()..max limit NaN change by its value or method in particular column

In [11]:
df

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  NaN  2.0  4.0
3  4.0  45.0  NaN  1.0  NaN
4  NaN   NaN  NaN  NaN  NaN

In [12]:
df.fillna(0,limit=1) #by value

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  0.0  2.0  4.0
3  4.0  45.0  NaN  1.0  0.0
4  0.0   0.0  NaN  0.0  NaN

In [13]:
df.fillna(0,limit=2)

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  0.0  2.0  4.0
3  4.0  45.0  0.0  1.0  0.0
4  0.0   0.0  NaN  0.0  0.0

In [14]:
df

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  NaN  2.0  4.0
3  4.0  45.0  NaN  1.0  NaN
4  NaN   NaN  NaN  NaN  NaN

In [15]:
df.fillna(method='ffill',limit=1)

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\393035141.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',limit=1)

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  8.0  2.0  4.0
3  4.0  45.0  NaN  1.0  4.0
4  4.0  45.0  NaN  1.0  NaN

In [16]:
df.fillna(method='bfill',limit=1)

C:\Users\AS\AppData\Local\Temp\ipykernel_15876\1337728953.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',limit=1)

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  NaN  2.0  4.0
3  4.0  45.0  NaN  1.0  NaN
4  NaN   NaN  NaN  NaN  NaN

#inplacce()..exchane NaN value with given input and does not create new dataframe modify in current dataframe

In [17]:
df.fillna(5,inplace=True)
df

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  5.0  2.0  4.0
3  4.0  45.0  5.0  1.0  5.0
4  5.0   5.0  5.0  5.0  5.0

In [18]:
df

     A     B    C    D    E
0  1.0  12.0  9.0  4.0  2.0
1  2.0  23.0  8.0  3.0  3.0
2  3.0  34.0  5.0  2.0  4.0
3  4.0  45.0  5.0  1.0  5.0
4  5.0   5.0  5.0  5.0  5.0