#interpolate()..

In [24]:
import pandas as pd

In [26]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\Book6.csv')
df

         date  student_id  class section  study hr
0  01-07-2023       101.0      4       A       2.0
1  02-07-2023       102.0      5       B       3.0
2  03-07-2023         NaN      6     NaN       NaN
3  04-07-2023         NaN      7       C       NaN
4  05-07-2023       105.0      8     NaN       6.0

In [27]:
df.interpolate()

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

         date  student_id  class section  study hr
0  01-07-2023       101.0      4       A       2.0
1  02-07-2023       102.0      5       B       3.0
2  03-07-2023       103.0      6     NaN       4.0
3  04-07-2023       104.0      7       C       5.0
4  05-07-2023       105.0      8     NaN       6.0

In [28]:
df.interpolate(method='linear')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\1321276365.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='linear')

         date  student_id  class section  study hr
0  01-07-2023       101.0      4       A       2.0
1  02-07-2023       102.0      5       B       3.0
2  03-07-2023       103.0      6     NaN       4.0
3  04-07-2023       104.0      7       C       5.0
4  05-07-2023       105.0      8     NaN       6.0

In [29]:
df.interpolate(method='time')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\722817345.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='time')

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [30]:
type(df.date[0])

str

In [31]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\Book6.csv',parse_dates=['date'])
df

        date  student_id  class section  study hr
0 2023-01-07       101.0      4       A       2.0
1 2023-02-07       102.0      5       B       3.0
2 2023-03-07         NaN      6     NaN       NaN
3 2023-04-07         NaN      7       C       NaN
4 2023-05-07       105.0      8     NaN       6.0

In [34]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\Book6.csv',parse_dates=['date'],index_col='date')
df

            student_id  class section  study hr
date
2023-01-07       101.0      4       A       2.0
2023-02-07       102.0      5       B       3.0
2023-03-07         NaN      6     NaN       NaN
2023-04-07         NaN      7       C       NaN
2023-05-07       105.0      8     NaN       6.0

In [35]:
df.interpolate(method='time')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\722817345.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='time')

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.943820      6     NaN  3.943820
2023-04-07  103.988764      7       C  4.988764
2023-05-07  105.000000      8     NaN  6.000000

In [36]:
df.interpolate(method='index')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\2515484856.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='index')

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.943820      6     NaN  3.943820
2023-04-07  103.988764      7       C  4.988764
2023-05-07  105.000000      8     NaN  6.000000

In [42]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\Book6.csv',parse_dates=['date'],index_col='date')
df

            student_id  class section  study hr
date
2023-01-07       101.0      4       A       2.0
2023-02-07       102.0      5       B       3.0
2023-03-07         NaN      6     NaN       NaN
2023-04-07         NaN      7       C       NaN
2023-05-07       105.0      8     NaN       6.0

In [43]:
df.interpolate(method='index')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\2515484856.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='index')

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.943820      6     NaN  3.943820
2023-04-07  103.988764      7       C  4.988764
2023-05-07  105.000000      8     NaN  6.000000

In [44]:
df.interpolate(method='nearest')

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\1654062127.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='nearest')

            student_id  class section  study hr
date
2023-01-07       101.0      4       A       2.0
2023-02-07       102.0      5       B       3.0
2023-03-07       102.0      6     NaN       3.0
2023-04-07       105.0      7       C       6.0
2023-05-07       105.0      8     NaN       6.0

In [45]:
df.interpolate(method='polynomial',order=1)

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\587008278.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='polynomial',order=1)

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.943820      6     NaN  3.943820
2023-04-07  103.988764      7       C  4.988764
2023-05-07  105.000000      8     NaN  6.000000

In [46]:
df.interpolate(method='polynomial',order=2)

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\2432539652.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='polynomial',order=2)

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.923185      6     NaN  3.923185
2023-04-07  103.967379      7       C  4.967379
2023-05-07  105.000000      8     NaN  6.000000

In [47]:
df.interpolate(method='spline',order=2)  #rectangular key fillinf

C:\Users\AS\AppData\Local\Temp\ipykernel_10024\79068096.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='spline',order=2)  #rectangular key fillinf

            student_id  class section  study hr
date
2023-01-07  101.000000      4       A  2.000000
2023-02-07  102.000000      5       B  3.000000
2023-03-07  102.923185      6     NaN  3.923185
2023-04-07  103.967379      7       C  4.967379
2023-05-07  105.000000      8     NaN  6.000000