In [1]:
#How to create Python Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
list=['a','b','c']
print(list)

['a', 'b', 'c']

In [5]:
df1=pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c

In [6]:
df1

   0
0  a
1  b
2  c

In [7]:
list1=[[1,2,3],[4,5,6],[7,8,9]]
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
df2=pd.DataFrame(list1)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
list1=[[1,2,3],[4,5,6],[7,8]]
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [12]:
df2=pd.DataFrame(list1)
df2

   0  1    2
0  1  2  3.0
1  4  5  6.0
2  7  8  NaN

In [13]:
#Dictionary

In [9]:
dict1={'ID':[1,2,3,4]}
print(dict1)

{'ID': [1, 2, 3, 4]}

In [10]:
df3=pd.DataFrame(dict1)
df3

   ID
0   1
1   2
2   3
3   4

In [14]:
dict1={'ID':[1,2,3,4],'SN':[6,7,8,9]}
print(dict1)
df3=pd.DataFrame(dict1)
df3

{'ID': [1, 2, 3, 4], 'SN': [6, 7, 8, 9]}

   ID  SN
0   1   6
1   2   7
2   3   8
3   4   9

In [15]:
#list of dictionaries

In [16]:
list_of_dict=[{'a':1},{'b':2},{'a':4,'b':8,'c':9}]
print(list_of_dict)
df4=pd.DataFrame(list_of_dict)
df4

[{'a': 1}, {'b': 2}, {'a': 4, 'b': 8, 'c': 9}]

     a    b    c
0  1.0  NaN  NaN
1  NaN  2.0  NaN
2  4.0  8.0  9.0

In [17]:
#dictionaries of Series

In [18]:
dict_of_ser={'a':pd.Series([1,2,3,4]),'b':pd.Series([6,7])}
print(dict_of_ser)
df5=pd.DataFrame(dict_of_ser)
df5

{'a': 0    1
1    2
2    3
3    4
dtype: int64, 'b': 0    6
1    7
dtype: int64}

   a    b
0  1  6.0
1  2  7.0
2  3  NaN
3  4  NaN