In [50]:
import pandas as pd

In [51]:
df=pd.read_csv('D:\Movies\BOLLYWOOD\Flames\Book8.csv')
df

       Genre  year  budget  rating
0     Action  2008      28      48
1     Action  2009     200      63
2     Action  2008      32      57
3     Action  2010      20      52
4  Adventure  2009      18      84
5  Adventure  2010     105      44
6     Comedy  2010      20      70
7     Comedy  2008       8      81
8     Comedy  2009      30      71

In [52]:
pd.melt(df)

AttributeError: 'dict' object has no attribute '_get_axis_number'